$white: #fff;
$red: #db3d44;
$gray: #eee;
$dark: #191919;

.rt-calendar {
  font-family: "Noto Sans CJK TC", "PingFang TC", "Microsoft JhengHei", "Helvetica Neue", Helvetica, Verdana, sans-serif;
  min-width: 260px;
  width: 30%;
  color: $dark;
  font-size: 13px;
  background: $white;
}

.rt-calendar__icon {
  width: 12px;
  height: 12px;
  padding: 0;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

.rt-calendar__header__cur-month {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
}

.rt-calendar__day-name {
  display: flex;
  justify-content: space-around;
}

.rt-calendar__month {
  display: grid;
  grid: auto/repeat(7, 1fr);
}

.rt-calendar__month__day {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin: 8px auto;
  outline: none;
  cursor: pointer;
}

.rt-calendar__month__day--selected {
  color: $white;
  background-color: $red;
}

.rt-calendar__month__day--today {
  color: $red;
}

.rt-calendar__month__day--outside {
  color: $gray;
}
