.rt-datepicker {
  position: relative;
  display: inline-block;
}

.rt-datepicker__input {
  padding: 8px;
  font-size: 13px;
  border-radius: 3px;
  border: 1px solid #eee;
  outline: none;

  &:focus {
    border-color: #43b2da;
  }
}

.rt-datepicker__calendar {
  display: none;
  position: absolute;
  left: 0;
}

.rt-datepicker__calendar--show {
  display: block;
  animation: fadeOut .3s ease-in forwards;
}

@keyframes fadeOut {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
